@model WorketHealth.DataAccess.Models.ViewModels.ViewF_SEG_19

@{
    ViewData["Title"] = "Importar Excel";
}
<div class="container-fluid  dashboard-content">
    @if (TempData["Correcto"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["Correcto"]
            <a class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></a>
        </div>
    }
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["Error"]
            <a class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></a>
        </div>
    }
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <form asp-action="CargarDatosEnBD" asp-controller="InsertarEnBD" method="post">
            <div class="card">
                
                <div class="card-header d-flex" >
                    <h5 class="card-header-title">F_SIG_19 Seguim.</h5>
                    <div class="toolbar ml-auto">                        

                                <a href="#" data-toggle="modal" data-target="#exampleModal">
                                    <button type="submit" class=" btn btn-success btn-sm">
                                    <i class="fas fa-file-excel"></i> Importar Excel
                                    </button>
                                </a>
                            <a href="@Url.Action("DescargarExcelF_SEG_19", "Proyecto")" class="btn btn-outline-success btn-sm"><i class="fas fa-download"></i> Descargar Excel</a>
                                <a href="" >
                                    <button type="submit" class=" btn btn-danger btn-sm">
                                            <i class="fas fa-database"></i> Insertar en BD
                                     </button>
                                </a>

                        </div>
                </div>                
                <div class="card-body">
                    <div class="table-responsive">
                            <table class="table" id="miTabla">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align:center;">#</th>
                                    <th scope="col" style="text-align:center;">DNI</th>
                                    <th scope="col">PrimerNombre</th>
                                    <th scope="col">SegundoNombre</th>
                                    <th scope="col">PrimerApellido</th>
                                    <th scope="col">SegundoApellido</th>
                                    <th scope="col">FechaNac.</th>
                                    <th scope="col">Sexo</th>
                                    <th scope="col">TipoExamen</th>
                                    <th scope="col">FechaExamen</th>
                                    <th scope="col">Area</th>
                                    <th scope="col">PuestoTrabajo</th>
                                    <th scope="col">Aptitud</th>
                                    <th scope="col">Restricciones</th>
                                    <th scope="col">EC</th>
                                    <th scope="col">ERT</th>
                                    <th scope="col">EP</th>
                                    <th scope="col" style="display:none">RUC</th>
                                    <th scope="col" style="display:none">MES</th>
                                    <th scope="col" style="display:none">ANHO</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.F_SEG_19 != null && Model.F_SEG_19.Count > 0)
                                {
                                        @for (var i = 0; i < Model.F_SEG_19.Count; i++)
                                    {
                                        <tr>
                                                <td>
                                                    <div class ="btn-group">
                                                        @*<button class="btn btn-sm btn-outline-light" onclick="eliminarFila(@Model.F_SEG_19[i].Id)"><i class="far fa-trash-alt"></i></button>*@
                                                        <button class="btn btn-dark btn-xs" disabled>
                                                            @Model.F_SEG_19[i].Id<input asp-for="@Model.F_SEG_19[i].Id" type="hidden" />
                                                        </button>
                                                    </div>
                                                    
                                                </td>
                                                <!--td>  Model[i].Id </!--td-->
                                                <td>@Model.F_SEG_19[i].DNI <input asp-for="@Model.F_SEG_19[i].DNI" type="hidden" /></td>
                                                <td>@Model.F_SEG_19[i].PrimerNombre <input asp-for="@Model.F_SEG_19[i].PrimerNombre" type="hidden" /></td>
                                                <td>@Model.F_SEG_19[i].SegundoNombre <input asp-for="@Model.F_SEG_19[i].SegundoNombre" type="hidden" /></td>
                                                <td>@Model.F_SEG_19[i].PrimerApellido <input asp-for="@Model.F_SEG_19[i].PrimerApellido" type="hidden" /></td>
                                                <td>@Model.F_SEG_19[i].SegundoApellido <input asp-for="@Model.F_SEG_19[i].SegundoApellido" type="hidden" /></td>
                                                <td>@Model.F_SEG_19[i].FechaNacimiento <input asp-for="@Model.F_SEG_19[i].FechaNacimiento" type="hidden" /></td>
                                                <td>@Model.F_SEG_19[i].Sexo <input asp-for="@Model.F_SEG_19[i].Sexo" type="hidden" /></td>
                                                <td>@Model.F_SEG_19[i].TipoExamen <input asp-for="@Model.F_SEG_19[i].TipoExamen" type="hidden" /></td>
                                                <td>@Model.F_SEG_19[i].FechaExamen <input asp-for="@Model.F_SEG_19[i].FechaExamen" type="hidden" /></td>
                                                <td>@Model.F_SEG_19[i].Area <input asp-for="@Model.F_SEG_19[i].Area" type="hidden" /></td>
                                                <td>@Model.F_SEG_19[i].PuestoDeTrabajo <input asp-for="@Model.F_SEG_19[i].PuestoDeTrabajo" type="hidden" /></td>
                                                <td>@Model.F_SEG_19[i].Aptitud <input asp-for="@Model.F_SEG_19[i].Aptitud" type="hidden" /></td>
                                                <td>@Model.F_SEG_19[i].Restricciones <input asp-for="@Model.F_SEG_19[i].Restricciones" type="hidden" /></td>
                                                <td>@Model.F_SEG_19[i].ID_EC <input asp-for="@Model.F_SEG_19[i].ID_EC" type="hidden" /></td>
                                                <td>@Model.F_SEG_19[i].ID_ERT <input asp-for="@Model.F_SEG_19[i].ID_ERT" type="hidden" /></td>
                                                <td>@Model.F_SEG_19[i].ID_EP <input asp-for="@Model.F_SEG_19[i].ID_EP" type="hidden" /></td>
                                                <td style="display:none">@Model.F_SEG_19[i].RUC <input asp-for="@Model.F_SEG_19[i].RUC" type="hidden" /></td>
                                                <td style="display:none">@Model.F_SEG_19[i].Mes <input asp-for="@Model.F_SEG_19[i].Mes" type="hidden" /></td>
                                                <td style="display:none">@Model.F_SEG_19[i].Anho <input asp-for="@Model.F_SEG_19[i].Anho" type="hidden" /></td>
                                        </tr>
                                    }

                                }
                                else
                                {
                                    <tr style="text-align:center;"><td colspan ="11">No hay registros</td></tr>
                                }
                            </tbody>
                        </table>
                    </div>                    
                </div>                
            </div>
            </form>
        </div>

    </div>


</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">

        @* <form asp-action="F_SIG_19" method="post" enctype="multipart/form-data">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Importar Excel</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </a>
                </div>

                <div class="modal-body">
                    <label for="file">Seleccionar Archivo Excel:</label>
                    <input asp-for="ArchivoModel.archivo" type="file" name="file" id="file" accept=".xlsx" class="form-control" required />
                </div>

               
                <div class="modal-body">
                    <label>Seleccion un proyecto</label>
                    <select asp-for="ArchivoModel.Ruc" class="form-control" name="ID_RUC" required>
                        <option disabled selected>-- Selccionar proyecto --</option>
                        @foreach (var RUC in Model.RUC)
                        {
                            <option value="@RUC.ID_RUC">@RUC.NOM_RUC</option>
                        }
                    </select>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-danger btn-sm" data-dismiss="modal">Cerrar</a>
                    <a class="btn form-group row text-right">
                        <button type="submit" class="btn btn-success btn-sm">Importar Excel</button>
                    </a>
                    <br>
                </div>
            </div>
            </form> *@
        <form asp-action="F_SIG_19" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Importar Excel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="file">Seleccionar Archivo Excel:</label>
                        <input asp-for="ArchivoModel.Archivo" type="file" id="file" accept=".xlsx" class="form-control" required />
                        <span asp-validation-for="ArchivoModel.Archivo" class="text-danger"></span>
                    </div>
                </div>

                <div class="modal-body">
                <select asp-for="ArchivoModel.Ruc" class="form-control" required>
                    <option disabled selected>-- Seleccionar proyecto --</option>
                    @if (Model.RUC != null)
                    {
                        @foreach (var r in Model.RUC)
                        {
                            if (r != null)
                            {
                                <option value="@r.ID_RUC">@r.NOM_RUC</option>
                            }
                        }
                    }
                </select>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success btn-sm">Importar Excel</button>
                </div>
            </div>
        </form>

    </div>
</div>
@section Scripts{
    @*<script>
        function eliminarFila() {
            var tabla = document.getElementById("miTabla");
            var filaAEliminar = tabla.getElementsByTagName("tr"); // Índice 1 para la segunda fila (0-indexed).
            if (filaAEliminar) {
                filaAEliminar.parentNode.removeChild(filaAEliminar);
            }
        }

        eliminarFila();
    </script>*@
 @*   <script>
        $(document).ready(function () {
            $("#enviarDatosButton").click(function () {
                var tableData = [];
                $("#dataTable tbody tr").each(function (index, row) {
                    var dataPrueba = {
                        Id: $(row).find("td:eq(0)").text(),
                        DNI: $(row).find("td:eq(1)").text(),
                        PrimerNombre: $(row).find("td:eq(2)").text(),
                        SegundoNombre: $(row).find("td:eq(3)").text(),
                        PrimerApellido: $(row).find("td:eq(4)").text(),
                        SegundoApellido: $(row).find("td:eq(5)").text(),
                        FechaNacimiento: $(row).find("td:eq(6)").text(),
                        Sexo: $(row).find("td:eq(7)").text(),
                        TipoExamen: $(row).find("td:eq(8)").text(),
                        FechaExamen: $(row).find("td:eq(9)").text(),
                        Area: $(row).find("td:eq(10)").text(),
                        PuestoDeTrabajo: $(row).find("td:eq(11)").text(),
                        Aptitud: $(row).find("td:eq(12)").text(),
                        Restricciones: $(row).find("td:eq(13)").text(),
                        ID_EC: $(row).find("td:eq(14)").text(),
                        ID_ERT: $(row).find("td:eq(15)").text(),
                        ID_EP: $(row).find("td:eq(16)").text(),
                        RUC: $(row).find("td:eq(17)").text(),
                        Mes: $(row).find("td:eq(18)").text(),
                        Anho: $(row).find("td:eq(19)").text()
                    }
                    tableData.push(dataPrueba);
                });

                $.ajax({
                    url: "/InsertarEnBD/CargarDatosEnBD",
                    type: "POST",
                    data: { excelDataList: tableData },
                    success: function (result) {
                        window.location.href = '/ImportarData/Index';
                    },
                    error: function (error) {
                    }
                });
            });
        });
    </script>*@
}
